---
layout: layout.hbs
subject: "Запрос на изменение пароля в <%= product_name %>"
preheader: "Используйте эту ссылку чтобы изменить Ваш пароль. Ссылка действительна на протяжении 60 минут."
---
<table class="email-content" width="100%" cellpadding="0" cellspacing="0">
  {{> masthead site_url="{{siteUrl}}"}}

  <!-- Email Body -->
  <tr>
    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
      <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">

        <!-- Body content -->
        <tr>
          <td class="content-cell">

            <h1>Здравствуйте, \{{user.displayName}}!</h1>
            <p>Мы только что получили запрос на изменение пароля для вашего акаунта {{product_name}}. Если Вы действительно хотите изменить пароль, используйте кнопку ниже. <strong>Кнопка будет активна на протяжении 60 минут.</strong></p>

            <!-- Action -->
            <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center">
                  {{> button color="red" label="Изменить мой пароль" target_url="{{passwordResetUrl}}" }}
                </td>
              </tr>
            </table>

              <p>Запрос на изменение был отправлен из устройства под управлением \{{operatingSystem}} с использованием браузера \{{browserName}}. Если Вы не отправляли запрос на восстановление(изменение) пароля, пожалуйста, игнорируйте это письмо или обратитесь в <a href="mailto:{{support_email}}">поддержку</a> если у Вас есть вопросы.</p>

              <p>Спасибо,</p>

              <p>Команда {{product_name}}</p>

            {{> button_trouble_ru action_url="{{passwordResetUrl}}"}}

          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{> footer_ru site_url="{{siteUrl}}"}}

</table>
