---
layout: layout.hbs
subject: "Запит на зміну паролю у <%= product_name %>"
preheader: "Використайте це посилання щоб змінити ваш пароль. Посилання дійсне протягом 60 хвилин."
---
<table class="email-content" width="100%" cellpadding="0" cellspacing="0">
  {{> masthead site_url="{{siteUrl}}"}}

  <!-- Email Body -->
  <tr>
    <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
      <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">

        <!-- Body content -->
        <tr>
          <td class="content-cell">

            <h1>Привіт, \{{user.displayName}}!</h1>
            <p>Ми тільки що отримали запит на зміну паролю для вашого акаунту {{product_name}}. Якщо ви дійсно хочете змінити пароль, скористайтеся кнопкою нижче. <strong>Кнопка буде активна протягом 60 хвилин.</strong></p>

            <!-- Action -->
            <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center">
                  {{> button color="red" label="Змінити мій пароль" target_url="{{passwordResetUrl}}" }}
                </td>
              </tr>
            </table>

              <p>Запит на зміну був відправлений з пристрою під керуванням \{{operatingSystem}} з використанням браузеру \{{browserName}}. Якщо ви не відправляли запит на відновлення (зміну) паролю, будь ласка, ігноруйте цей лист або зверніться в <a href="mailto:{{support_email}}">підтримку</a> якщо у вас є питання.</p>

              <p>Дякуємо,</p>

              <p>Команда {{product_name}}</p>

            {{> button_trouble_ua action_url="{{passwordResetUrl}}"}}

          </td>
        </tr>
      </table>
    </td>
  </tr>

  {{> footer_ua site_url="{{siteUrl}}"}}

</table>
